.footer-overlay{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-overlay .logo{
    width: 160px;
    align-self: center;
    
}
.footer-overlay p{
    width: 70%;
    font-size: 18px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    padding: 10px 0px;
}
.media-logo{
    font-size: 30px;
    cursor: pointer;
    margin: 8px 10px;
}
@media screen and (max-width:1184px) {
    .footer-overlay{
        width: 100%;
    }
}